    <!-- Navbar-->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">BloodPM</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="input.html">Input</a></li>
                    <li><a href="data.html">Data</a></li>
                </ul>
            </nav>
        </div>
    </div>
