<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar') %>

    <!-- Navbar-->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">BloodPM</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="input.html">Input</a></li>
                    <li><a href="data.html">Data</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <section class="data">
        <div class="container">
            <h2 class="lg">BP Log</h2>
            <span class="date md">Jan 23, 2021</span>
            <!-- <div class="charts flex">
                <div class="chart">
                    <h3 class="sm">Blood Pressure (mmHg)</h3>
                    <img src="#" alt="chart">
                </div>
                <div class="chart">
                    <h3 class="sm">BP + Pulse</h3>
                    <img src="#" alt="graph">
                </div>
            </div> -->
            <div class="averages grid">
                <div id="average-bp-sys">
                    <h4 class="sm">Average BP (Sys)</h4>
                    <span class="lg">159</span>
                </div>
                <div id="maximum-sys">
                    <h4 class="sm">Maximum Sys</h4>
                    <span class="lg">166</span>
                </div>
                <div id="average-bp-dia">
                    <h4 class="sm">Average BP (Dia)</h4>
                    <span class="lg">95</span>
                </div>
                <div id="average-bp">
                    <h4 class="sm">Maximum Dia</h4>
                    <span class="lg">99</span>
                </div>
                <div id="average-pulse">
                    <h4 class="sm">Average Pulse</h4>
                    <span class="lg">71</span>
                </div>
                <div id="average-bp">
                    <h4 class="sm">Maximum Pulse</h4>
                    <span class="lg">76</span>
                </div>
            </div>
            <img src="images/bp rainbow.png" alt="bp ranges">
        </div>
        <div class="pdf">
            <iframe src="\images\blood pressure log 01.pdf" width="100%" height="1000px">
            </iframe>
        </div>
    </section>

<%- include('../partials/footer.ejs') %>
