<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar') %>
    <!-- Navbar-->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">BloodPM</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="input.html">Input</a></li>
                    <li><a href="data.html">Data</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Input -->
    <section class="input">
        <div class="container flex no-scroll">
            <div id="input-form-card" class="input-form card md">
                <h2>Blood Pressure</h2>
                <form action="" id="bp-form">
                    <input type="hidden" name="form-name" value="contact">
                    <div class="form-control grid">
                        <input name="sys" id="sys" class="lg top" type="text" name="sys" autocomplete="off" required>
                        <label for="sys">SYS.</label><span>mmHg</span>
                    </div>
                    <div class="form-conrol grid">
                        <input name="dia" id="dia" class="lg middle" type="text" name="dia" autocomplete="off" required>
                        <label for="sys">DIA.</label><span>mmHg</span>
                    </div>
                    <div class="form-control grid">
                        <input name="pul" id="pul" class="lg bottom" type="text" name="pul" autocomplete="off" required>
                        <label for="sys">PUL.</label><span>/min</span>
                    </div>
                    <div  class="form-control flex">
                        <input id="input-submit" type="submit" value="Submit" class="btn">
                    </div>
                </form>
            </div>
            <div class="notes">
            <div id="notes-form-card" class="notes-form card md">
                <h2>Blood Pressure</h2>
                <div class="date-time">
                    <span id="date">January 21, 2021</span>
                </div>
                <table class="my-1">
                    <tr id="bp-table-headers">
                        <th>Sys</th>
                        <th>Dia</th>
                        <th>Pul</th>
                    </tr>
                    <tr id="bp-table-values">
                        <td id="sysNotes">122</td>
                        <td id="diaNotes">90</td>
                        <td id="pulNotes">76</td>
                    </tr>
                    <tr id="bp-table-units">
                        <td>mmHg</td>
                        <td>mmHg</td>
                        <td>/min</td>
                    </tr>

                </table>

                <!-- Uncomment the next line when this goes live -->
                <!-- <form name="bp-data" method="POST" netlify-honeypot = "bot-field" data-netlify="true" id="notes-form"> -->
                <form action="" id="notes-form">
                    <p class="hidden">
                        <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
                    </p>
                    <div class="form-control">
                        <input type="text" name="notes" placeholder="Notes" autocomplete="off">
                    </div>
                    <p class="hidden">
                        <input id="sys-submit" type="text" name="sys">
                        <input id="dia-submit" type="text" name="dia">
                        <input id="pul-submit" type="text" name="pul">
                    </p>
                    <div  class="my-1 form-control flex">
                        <input id="notes-submit" type="submit" value="Submit" class="btn">
                    </div>
                </form>
            </div>
            </div>
        </div>
    </section>

<%- include('../partials/footer.ejs') %>